.rgi-header {
  background-color: $renegade-white;
  padding-top: rem(34px);

  .rgi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;

    .logo {
      img {
        height: rem(57px);
        width: auto;
      }

      @include large-screens() {
        order: 1;
      }
    }

    .header-cta-btn {
      background: $renegade-pink;
      border-radius: rem(100px);
      text-decoration: none;
      color: $renegade-blue;
      height: rem(45px);
      padding-left: rem(60px);
      padding-right: rem(48px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.724 18.3559L18.564 22.5159L18.2 22.4509C16.3819 22.0871 14.6289 21.4517 13 20.5659C11.3979 19.7056 9.93066 18.615 8.64501 17.3289C6.04578 14.6958 4.28202 11.3537 3.57501 7.72194L3.49701 7.38394L7.61801 3.26294L11.934 7.56594L9.54201 9.95794C9.75125 10.4092 9.99463 10.8438 10.27 11.2579L9.32101 12.2069C8.88 11.5232 8.49315 10.806 8.16401 10.0619L7.98201 9.65894L10.088 7.56594L7.61801 5.09594L4.91401 7.79994C5.25326 9.36439 5.80894 10.8739 6.56501 12.2849C7.37632 13.8006 8.40561 15.1891 9.62001 16.4059C10.8148 17.607 12.1818 18.6235 13.676 19.4219C15.0936 20.1998 16.6179 20.7649 18.2 21.0989L20.943 18.3559L18.46 15.8859L16.328 18.0049L15.925 17.8229C14.23 17.0774 12.6908 16.0189 11.388 14.7029C11.0397 14.4023 10.7098 14.0811 10.4 13.7409L11.323 12.8179C11.596 13.1559 11.895 13.4809 12.194 13.7929C13.2894 14.8841 14.5591 15.7848 15.951 16.4579L18.356 14.0399L22.724 18.3559Z' fill='%23232A40'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: rem(10px);
        left: rem(20px);
      }

      .book-txt {
        font-weight: 600;
        font-size: rem(10px);
        line-height: 125%;
        margin-bottom: rem(2px);
      }

      .phone {
        font-size: rem(14px);
        line-height: 125%;
      }

      @include large-screens() {
        order: 1;
      }
    }
  }
}

/* Main Menu */

.main-menu {
  height: 55px;
  display: flex;
  justify-content: center;

  @include large-screens() {
    order: 3;
  }
}
.main-menu ul {
  margin: 0;
  padding-left: 0;
}
.main-menu ul li {
  display: inline-block;
  line-height: 55px;
  position: relative;
}
.main-menu ul li.current_page_item > a {
  font-weight: bold;
}
.main-menu ul li a {
  color: #000000;
  padding: 0 30px;
  text-decoration: none;
  display: block;
}
.main-menu ul li a:hover,
.main-menu ul li a:active {
  transition: 0.5s all;
  font-weight: 600;
}
.main-menu ul li a:focus + ul {
  display: block;
}
.main-menu li.menu-item-has-children::after {
  content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L6 6L10 2' stroke='%23232A40' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: rem(1px);
}
.main-menu ul.sub-menu {
  position: absolute;
  padding-left: 0;
  background-color: $renegade-white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  display: none;

  @include large-screens() {
    background-color: $renegade-blue;
  }
}
.main-menu ul .menu-item-has-children:hover > ul,
.main-menu ul .menu-item-has-children:focus + ul {
  display: block;
}
.main-menu ul.sub-menu li {
  width: max-content;
  border-bottom: 1px solid #ccc;

  @include large-screens() {
    border-bottom: unset;
  }
}
.main-menu ul.sub-menu a {
  color: $renegade-blue;

  &:hover {
    font-weight: 600;
  }
}
.menu-icon,
.check-button {
  cursor: pointer;
  display: none;
}
.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
  width: 23px;
  height: 1px;
  background-color: $renegade-blue;
  margin: 5px 0;
  transition: 0.4s;
}
@include large-screens() {
  .menu-icon,
  .check-button {
    display: block;
  }
  .check-button {
    border: none;
    background: transparent;
    height: 55px;
  }
  .main-menu ul {
    position: absolute;
    width: 100%;
    background: $renegade-blue;
    left: -999px;
    text-align: left;
    transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.5s;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .main-menu ul:not(.sub-menu) {
    margin-top: 60px;
  }
  .main-menu ul li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  .main-menu ul li a {
    color: #ffffff;
  }
  .main-menu ul.sub-menu {
    position: relative;
    top: 0;
    margin-left: 20px;
    display: block;
    width: auto;

    box-shadow: unset;
  }
  .main-menu ul.sub-menu a {
    color: $renegade-pink;
  }
  .show-dropdown {
    left: 0 !important;
  }
  .animate-button .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
    transform: rotate(-45deg) translate(-2px, 2px);
  }
  .animate-button .bar2 {
    opacity: 0;
  }
  .animate-button .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
    transform: rotate(45deg) translate(-6px, -7px);
  }
}

// menu end
