// === FONTS ===
$global-font-primary: 'Work Sans', serif;

// === COLORS ===
$renegade-white: #f5f5f5;
$renegade-pink: #f6c5da;
$renegade-blue: #232a40;

$light-blue: #bee6fa;
$white: #ffffff;

// === SIZES ===
