@mixin rgi-button($bgc-color: $renegade-pink, $txt-color: $renegade-white) {
  position: relative;
  background-color: $bgc-color;
  border-radius: rem(100px);
  height: rem(45px);
  font-size: rem(18px);
  line-height: 125%;
  font-weight: 600;
  padding: 0 rem(72px) 0 rem(32px);
  border: none;
  color: $txt-color;

  flex-wrap: nowrap;
  min-width: max-content;

  &::after {
    position: absolute;
    top: rem(10px);
    right: rem(22px);
  }

  @include medium-screens() {
    font-size: rem(14px);
    height: rem(40px);
  }
}

@mixin span-banner-txt() {
  display: block;
  font-weight: 700;
  font-size: rem(48px);
  line-height: 120%;
  text-transform: capitalize;
  color: $renegade-white;
}

@mixin angle-background($bg-color: $renegade-white) {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -30%;
    top: 50%;
    transform: translateY(-46%) rotate(14deg);
    background: $bg-color;
    width: 40%;
    height: 140%;
  }
}
